.bigContainer{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authContainer {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.authContainer h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.authContainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.authContainer button {
  width: 100%;
  padding: 10px;
  background-color: #0080ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.authContainer button:hover {
  background-color: #005ec2;
}
